# Task 1: Experimental design and A/B testing

Task: Design and analyze A/B tests for a hypothetical scenario.

hypothesize that version B will lead to a higher conversion rate compared to version A.

In [1]:
import pandas as pd
import numpy as np

In [43]:
np.random.seed(42)

# Page/Version A data
A_conversion = np.random.binomial(n=1, p=0.02, size=500)
A_click_through = np.random.binomial(n=1, p=0.40, size=500)
A_bounce = np.random.binomial(n=1, p=0.80, size=500)
A_order_value = np.random.normal(loc=50, scale=10, size=500)

# Page/Version B data
B_conversion = np.random.binomial(n=1, p=0.15, size=500)
B_click_through = np.random.binomial(n=1, p=0.45, size=500)
B_bounce = np.random.binomial(n=1, p=0.75, size=500)
B_order_value = np.random.normal(loc=60, scale=12, size=500)

df = pd.DataFrame({
    'Version': ['A'] * 500 + ['B'] * 500,
    'Conversion': np.concatenate([A_conversion, B_conversion]),
    'Click_through': np.concatenate([A_click_through, B_click_through]),
    'Bounce': np.concatenate([A_bounce, B_bounce]),
    'Order_Value': np.concatenate([A_order_value, B_order_value]),
})

df

    Version  Conversion  Click_through  Bounce  Order_Value
0         A           0              1       1    25.005943
1         A           0              0       1    72.909426
2         A           0              0       0    36.104275
3         A           0              1       1    33.546013
4         A           0              1       0    60.225704
..      ...         ...            ...     ...          ...
995       B           0              0       1    48.425546
996       B           0              0       1    66.071587
997       B           0              1       0    51.260734
998       B           0              1       1    85.980673
999       B           0              0       1    74.286583

[1000 rows x 5 columns]

In [41]:
df.describe()

        Conversion  Click_through       Bounce  Order_Value
count  1000.000000    1000.000000  1000.000000  1000.000000
mean      0.079000       0.404000     0.765000    55.200524
std       0.269874       0.490943     0.424211    12.300895
min       0.000000       0.000000     0.000000    20.786495
25%       0.000000       0.000000     1.000000    46.768892
50%       0.000000       0.000000     1.000000    54.572486
75%       0.000000       1.000000     1.000000    63.593777
max       1.000000       1.000000     1.000000   107.114852

**Null Hypothesis (H0): There is no significant difference between the conversion rate of Version A and Version B.**

**Alternative Hypothesis (Ha): There is a significant difference between the conversion rate of Version A and Version B.**

In [51]:
from scipy.stats import ttest_ind

# calculate t_test between conversion rates
t_stat, p_value = ttest_ind(df[df.Version=='A']['Conversion'], df[df.Version=='B']['Conversion'])
print(f't_stat: {t_stat}\np_value:{p_value}', end='\n\n')

# significance level
alpha = 0.05
if p_value < alpha:
    print("There is significant evidence to reject the null hypothesis.")
    print("Version B leads to a higher conversion rate compared to Version A.")
else:
    print("There is not enough evidence to reject the null hypothesis.")
    print("There is no significant difference in conversion rates between Version A and Version B.")

t_stat: -7.588276816916516
p_value:7.418185923338823e-14

There is significant evidence to reject the null hypothesis.
Version B leads to a higher conversion rate compared to Version A.

In [56]:
# Confidence Interval
import math

def Confidence_Interval(columns):
    columns_mean = columns.mean()
    columns_std = columns.std()

    columns_standard_error = columns_std/len(columns)
    columns_margin_error = columns_standard_error/2

    confidence_level = 0.95

    upper_bound = columns_mean + confidence_level * (columns_std / math.sqrt(10))
    lower_bound = columns_mean - confidence_level * (columns_std / math.sqrt(10))

    confidence_intervals = pd.DataFrame({
        'Sample Size': columns.count(),
        'Sample Mean': columns_mean,
        'Standard Error': columns_standard_error,
        'Margin of Error': columns_margin_error,
        'Lower Bound (95% CI)': lower_bound,
        'Upper Bound (95% CI)': upper_bound
    })

    return confidence_intervals

In [87]:
print("Conversion Rate Confidence Interval Values\n")
Confidence_Interval(df.loc[df.Version=='A', ['Conversion']])

Conversion Rate Confidence Interval Values

,Sample Size,Sample Mean,Standard Error,Margin of Error,Lower Bound (95% CI),Upper Bound (95% CI)
Conversion,500,0.016,0.000251,0.000126,-0.021733,0.053733

In [86]:
Confidence_Interval(df.loc[df.Version=='B', ['Conversion']])

,Sample Size,Sample Mean,Standard Error,Margin of Error,Lower Bound (95% CI),Upper Bound (95% CI)
Conversion,500,0.142,0.000699,0.000349,0.037035,0.246965

In [88]:
from scipy.stats import ttest_ind

# calculate t_test between Click_through
t_stat, p_value = ttest_ind(df[df.Version=='A']['Click_through'], df[df.Version=='B']['Click_through'])
print(f't_stat: {t_stat}\np_value:{p_value}', end='\n\n')

# significance level
alpha = 0.05
if p_value < alpha:
    print("There is significant evidence to reject the null hypothesis.")
    print("Version B leads to a higher Click through compared to Version A.")
else:
    print("There is not enough evidence to reject the null hypothesis.")
    print("There is no significant difference in Click through between Version A and Version B.")

t_stat: -2.8441804218860818
p_value:0.00454353573685893

There is significant evidence to reject the null hypothesis.
Version B leads to a higher Click through compared to Version A.

In [89]:
print("Click Through Confidence Interval Values\n")
Confidence_Interval(df.loc[df.Version=='A', ['Click_through']])

Click Through Confidence Interval Values

,Sample Size,Sample Mean,Standard Error,Margin of Error,Lower Bound (95% CI),Upper Bound (95% CI)
Click_through,500,0.36,0.000961,0.00048,0.215656,0.504344

In [90]:
Confidence_Interval(df.loc[df.Version=='B', ['Click_through']])

,Sample Size,Sample Mean,Standard Error,Margin of Error,Lower Bound (95% CI),Upper Bound (95% CI)
Click_through,500,0.448,0.000996,0.000498,0.298457,0.597543

In [91]:
from scipy.stats import ttest_ind

# calculate t_test between Bounces
t_stat, p_value = ttest_ind(df[df.Version=='A']['Bounce'], df[df.Version=='B']['Bounce'])
print(f't_stat: {t_stat}\np_value:{p_value}', end='\n\n')

# significance level
alpha = 0.05
if p_value < alpha:
    print("There is significant evidence to reject the null hypothesis.")
    print("Version B leads to a higher Bounce compared to Version A.")
else:
    print("There is not enough evidence to reject the null hypothesis.")
    print("There is no significant difference in Bounce between Version A and Version B.")

t_stat: 0.819859645047051
p_value:0.41249188079475607

There is not enough evidence to reject the null hypothesis.
There is no significant difference in Bounce between Version A and Version B.

In [92]:
print("Bounce Confidence Interval Values\n")
Confidence_Interval(df.loc[df.Version=='A', ['Bounce']])

Bounce Confidence Interval Values

,Sample Size,Sample Mean,Standard Error,Margin of Error,Lower Bound (95% CI),Upper Bound (95% CI)
Bounce,500,0.776,0.000835,0.000417,0.650624,0.901376

In [93]:
Confidence_Interval(df.loc[df.Version=='B', ['Bounce']])

,Sample Size,Sample Mean,Standard Error,Margin of Error,Lower Bound (95% CI),Upper Bound (95% CI)
Bounce,500,0.754,0.000862,0.000431,0.624488,0.883512

### We can conclude from above hypothesis testing that there is significance difference between both versions. Hence Version B leads to more conversion rate than Version A